* {
    box-sizing: border-box;
}

body {
    background: url("../images/wallpaper.jpg");
    font-size: 18px;
    line-height: 34px;
    font-family: sans-serif;
    background-size: 100% auto;
}

/*Spacing Divs*/

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px;
	width: 100%;
	max-width: 960px;
	clear: both;
}

.push {
    height: 80px;
    clear: both;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

/*Content Area*/
header {
	text-align: center;
}

.button {
    margin: 5px;
    border: 3px solid gold;
    height: 25px;
    font-size: 14px;
}

#addButton{
    font-size: 12px;
}

#buttons {
    float: left;
}

#button-form {
    float: right;
    clear: left;
}

.image-holder {
    float: left;
    margin: 2px;
    height: 250px;
    width: 250px;
}

.image p {
    color: gold;
}

/*.image img {
    height: 200px;
    width: 200px;
}*/

   /*Footer*/

footer {
    position: fixed;
    width: 100%;
    padding: 5px 0;
    border-top: 8px solid gold;
    clear: both;
    text-align: center;
    background-color: black;
    height: 3em;
    width: 100%;
    z-index: 3;
    bottom: 0;
}

#copyright {
    color: gold;
    text-align: center;
    width: 100%;
    font-size: 12px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}